version: '3.8'
services:
	app:
		build: .
		container_name: devops-cloud-app
		ports:
			- "4000:4000"
		volumes:
			- .:/usr/src/app
		environment:
			- NODE_ENV=production

	mysql:
		image: mysql:5.7
		container_name: zabbix-mysql
		environment:
			MYSQL_DATABASE: zabbix
			MYSQL_USER: zabbix
			MYSQL_PASSWORD: zabbix_pass
			MYSQL_ROOT_PASSWORD: root_pass
		volumes:
			- ./zabbix-mysql-data:/var/lib/mysql
			- ./backup:/backup # Pasta para restaurar backup
		ports:
			- "3306:3306"

	zabbix-server:
		image: zabbix/zabbix-server-mysql:alpine-6.4-latest
		container_name: zabbix-server
		environment:
			DB_SERVER_HOST: mysql
			MYSQL_DATABASE: zabbix
			MYSQL_USER: zabbix
			MYSQL_PASSWORD: zabbix_pass
			MYSQL_ROOT_PASSWORD: root_pass
		depends_on:
			- mysql
		ports:
			- "10051:10051"

	zabbix-web:
		image: zabbix/zabbix-web-nginx-mysql:alpine-6.4-latest
		container_name: zabbix-web
		environment:
			DB_SERVER_HOST: mysql
			MYSQL_DATABASE: zabbix
			MYSQL_USER: zabbix
			MYSQL_PASSWORD: zabbix_pass
			MYSQL_ROOT_PASSWORD: root_pass
			ZBX_SERVER_HOST: zabbix-server
			PHP_TZ: America/Sao_Paulo
		depends_on:
			- mysql
			- zabbix-server
		ports:
			- "8080:8080"

		zabbix-agent:
			image: zabbix/zabbix-agent:alpine-6.4-latest
			container_name: zabbix-agent
			environment:
				ZBX_SERVER_HOST: zabbix-server
			depends_on:
				- zabbix-server
			ports:
				- "10050:10050"

		grafana:
			image: grafana/grafana:10.4.2
			container_name: grafana
			ports:
				- "3000:3000"
			volumes:
				- ./grafana-data:/var/lib/grafana
			environment:
				- GF_SECURITY_ADMIN_PASSWORD=admin
			depends_on:
				- mysql
