version: '3.8'
services:
  app:
    build: .
    container_name: devops-cloud-app
    ports:
      - "${PORT:-4000}:4000"
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    restart: unless-stopped

  mysql:
    image: mysql:5.7
    container_name: zabbix-mysql
    env_file:
      - .env
    environment:
      TZ: ${TZ}
    volumes:
      - ./zabbix-mysql-data:/var/lib/mysql
      - ./backup:/backup # Pasta para restaurar backup
    ports:
      - "3306:3306"
    restart: unless-stopped

  zabbix-server:
    image: zabbix/zabbix-server-mysql:alpine-6.4-latest
    container_name: zabbix-server
    env_file:
      - .env
    environment:
      DB_SERVER_HOST: mysql
      TZ: ${TZ}
    depends_on:
      - mysql
    ports:
      - "10051:10051"
    restart: unless-stopped

  zabbix-web:
    image: zabbix/zabbix-web-nginx-mysql:alpine-6.4-latest
    container_name: zabbix-web
    env_file:
      - .env
    environment:
      DB_SERVER_HOST: mysql
      ZBX_SERVER_HOST: zabbix-server
      PHP_TZ: ${TZ}
    depends_on:
      - mysql
      - zabbix-server
    ports:
      - "8080:8080"
    restart: unless-stopped

  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-6.4-latest
    container_name: zabbix-agent
    environment:
      ZBX_SERVER_HOST: zabbix-server
    depends_on:
      - zabbix-server
    ports:
      - "10050:10050"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana-data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - mysql
    restart: unless-stopped
